In [4]:
import pandas as pd
pop = pd.read_csv("data/state-population.csv")
areas = pd.read_csv("data/state-areas.csv")
abbrevs = pd.read_csv("data/state-abbrevs.csv")

display("pop.head()", "areas.head()", "abbrevs.head()")

'pop.head()'

'areas.head()'

'abbrevs.head()'

In [5]:
data=pd.merge(pop, abbrevs, left_on="state/region", right_on="abbreviation",how='outer').drop("abbreviation",axis=1)
print(data)
# data.info()
data.isnull().any()

     state/region     ages  year  population    state
0              AK    total  1990    553290.0   Alaska
1              AK  under18  1990    177502.0   Alaska
2              AK    total  1992    588736.0   Alaska
3              AK  under18  1991    182180.0   Alaska
4              AK  under18  1992    184878.0   Alaska
...           ...      ...   ...         ...      ...
2539           WY  under18  1993    137458.0  Wyoming
2540           WY    total  1991    459260.0  Wyoming
2541           WY  under18  1991    136720.0  Wyoming
2542           WY  under18  1990    136078.0  Wyoming
2543           WY    total  1990    453690.0  Wyoming

[2544 rows x 5 columns]

state/region    False
ages            False
year            False
population       True
state            True
dtype: bool

In [3]:
missing_state=data[data["state"].isnull()]
print(missing_state)

     state/region     ages  year   population state
1872           PR  under18  1990          NaN   NaN
1873           PR    total  1990          NaN   NaN
1874           PR    total  1991          NaN   NaN
1875           PR  under18  1991          NaN   NaN
1876           PR    total  1993          NaN   NaN
...           ...      ...   ...          ...   ...
2203          USA    total  2010  309326295.0   NaN
2204          USA  under18  2011   73902222.0   NaN
2205          USA    total  2011  311582564.0   NaN
2206          USA  under18  2012   73708179.0   NaN
2207          USA    total  2012  313873685.0   NaN

[96 rows x 5 columns]